body{
    font-family: 'PT Serif', serif;
}

.bg-yellow {
    background-color: #FFC017;
} 
.border-bottom{
    border-bottom: 1px solid rgba(41, 41, 41, 1)

}

.font-weight-large{
    font-size: 106px;
}
.font-weight-medium{
    font-size: 28px;
}

.more-space{
    padding-top:5rem !important;
    padding-bottom: 5rem !important;
}

.btn-shape1{
    border-radius: 25px;
    font-size: 20px;
    width: 213px;
    padding: 7px 20px 9px;

}

.btn-shape2{
    width: 100px;
}

.text-color{
    color:black ;
}

.float-right{
    float: right;
}

.margin-left1{
    margin-left: 5px;
}
.margin-left2{
    margin-left: 0;
}